
#messages {
    list-style-type: none;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
  }

  #messages li {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  #messages .own {
    background-color: #d1e7dd;
    text-align: right;
  }

  #messages .other {
    background-color: #f8d7da;
  }

  #chat-container {
    max-width: 600px;
    margin: 50px auto;
  }

  #nickname-section {
    margin-bottom: 20px;
  }

  .nickname {
    font-weight: bold;
  }

  .message-text {
    display: inline-block;
    margin-left: 5px;
  }

  .typing-indicator {
    font-style: italic;
    color: #6c757d;
  }

  /* Add color classes */
  .color-1 { color: lime; }
  .color-2 { color: orange; }
  .color-3 { color: blue; }
  .color-4 { color: red; }
  .color-5 { color: purple; }
  .color-6 { color: brown; }
  .color-7 { color:  black; }
  .color-8 { color: green; }
  .color-9 { color: deeppink; }
  .color-10 { color:yellowgreen; }
  .color-11 { color: gray; }
  .color-12 { color: deepskyblue; }
  .color-13 { color: peru; }
  .color-14 { color: violet; }
  .color-15 { color: crimson; }
  .color-16 { color: darkolivegreen; }
  .color-17 { color: blueviolet; }
  .color-18 { color: tomato; }
  .color-19 { color: darkblue; }
  .color-20 { color: indigo; }
  .notification {
      position: fixed;
      top: 10px;
      left: 10px;
      color: white;
      padding: 10px;
      border-radius: 5px;
      z-index: 1000;
      font-size: 14px;
      opacity: 0.9;
    }
  .con { background-color: lime; }
  .dis { background-color: red; }
  .message-time {
    font-size: 0.8em;
    color: #aaa;
    margin-left: 10px;
  }